{% load static %}
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a class="active" href="{% url 'home' %}">Home</a>
    <a href="#about">About</a>
    <a href="#testimonial">Testimonial</a>
    
</div>
<!-- header -->
<header>
    <!-- header inner -->
    <div class="head-top">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="{% url 'home' %}">Quadchain</a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <ul class="social_icon text_align_right d_none">
                        <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                        <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="email text_align_right">
                        <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                        <li>
                            <button class="openbtn" onclick="openNav()"><img src="{% static 'images/menu_btn.png' %}"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>